<script src="/socket.io/socket.io.js"></script>
<script src="/js/addField.js"></script>

<script>
    var close = document.getElementsByClassName("closebtn");
    var i;
    
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
        }
    }
</script>
</body>
</html>