<%- include("header") -%>

<div class="container">
    <div class="mt-4 card homeLink">
        <a href="/add/inventory">
            <h5>Upload Inventory Items</h5>
        </a>
    </div>
    <div class="mt-4 card homeLink">
        <a href="/add/recipe">
            <h5>Upload Recipe </h5>
        </a>
    </div>
    <div class="mt-4 card homeLink">
        <a href="/form/stock">
            <h5>Add Stock entry </h5>
        </a>
    </div>
    <div class="mt-4 card homeLink">
        <a href="/form/production">
            <h5>Production entry</h5>
        </a>
    </div>
    <div class="mt-4 card homeLink">
        <a href="/form/dispatch">
            <h5>Items Dispatched</h5>
        </a>
    </div>
    <div class="mt-4 card homeLink">
        <a href="/form/received">
            <h5>Items received </h5>
        </a>
    </div>
</div>
  

<%- include("footer"); -%>