<%- include("header") -%>

<div class="container">
    <div class="card">
        <a href="/add/inventory">
            <p>Upload Inventory Items</p>
        </a>
    </div>
    <div class="card">
        <a href="/add/recipe">
            <p>Upload Recipe </p>
        </a>
    </div>
    <div class="card">
        <a href="/form/stock">
            <p>Add Stock entry </p>
        </a>
    </div>
    <div class="card">
        <a href="/form/production">
            <p>Production entry</p>
        </a>
    </div>
    <div class="card">
        <a href="/form/dispatch">
            <p>Items Dispatched</p>
        </a>
    </div>
    <div class="card">
        <a href="/form/received">
            <p>Items received </p>
        </a>
    </div>
</div>
  

<%- include("footer"); -%>