<%- include("./partials/header") -%>

<div class="container">
    <div class="mt-4 card homeLink">
        <a href="/add/inventory">
            <h5>Upload Inventory</h5>
        </a>
        <a href="/add/inventory">
            <h5>View Inventory</h5>
        </a>
    </div>
    <div class="mt-4 card homeLink">
        <a href="/add/recipe">
            <h5>Upload Recipe</h5>
        </a>
        <a href="/add/recipe">
            <h5>View Recipe</h5>
        </a>
    </div>
    <div class="mt-4 card homeLink">
        <a href="/form/stock">
            <h5>Stock Entry Form</h5>
        </a>
        <a href="/form/stock">
            <h5>View Stock Entry</h5>
        </a>
    </div>
    <div class="mt-4 card homeLink">
        <a href="/form/production">
            <h5>Production Entry Form</h5>
        </a>
        <a href="/form/production">
            <h5>View Production Entry</h5>
        </a>
    </div>
    <div class="mt-4 card homeLink">
        <a href="/form/dispatch">
            <h5>Dispatch Entry Form</h5>
        </a>
        <a href="/form/dispatch">
            <h5>View Dispatch Entry</h5>
        </a>
    </div>
    <div class="mt-4 card homeLink">
        <a href="/form/receive">
            <h5>Receive Entry Form</h5>
        </a>
        <a href="/form/receive">
            <h5>View Receive Entry</h5>
        </a>
    </div>
</div>

<%- include("./partials/footer"); -%>