<%- include("header"); -%>
<div class="container">
    <form action="/form/stock" method="POST" enctype="multipart/form-data">
        <label for="Items">Item</label>
        <input type="text" placeholder="Item">
        <label for="quanriry"> Quantity</label>
        <input type="number" name="" id="" placeholder="Quantity">
        <label for="Units">Unit</label>
        <input type="text" placeholder="Unit">
    </form>
</div>

    <%- include("footer"); -%>
