<%- include("../partials/header") -%>

<%if(msg){%>
  <div class= "alert" >
    <span class="closebtn">&times;</span>  
    <strong> <%=msg%></strong>
  </div>
<%}%>

<div class="container">
  <h1 class="mt-4 mb-4" style="text-align: center;font-family: sans-serif;">Sign Up</h1>
  <form action="/user/signup" method="POST" name="sign_up">
    
    <div class="mt-4 form-group row">
      <label class="col-sm-2 col-form-label" for="username"> Username <span style="color:#ab0707"> * </span> </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" placeholder="username" name="username" required />
      </div>
    </div>

    <div class="mt-4 form-group row">
      <label class="col-sm-2 col-form-label" for="name">Kitchen Name<span style="color:#ab0707"> * </span> </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="firstname" pattern="[A-Za-z].{1,}" placeholder="name" required />
      </div>
    </div>

    <div class="mt-4 form-group row">
      <label class="col-sm-2 col-form-label" for="address">Address<span style="color:#ab0707"> * </span> </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="address" placeholder="address" required />
      </div>
    </div>

    <div class="mt-4 form-group row">
      <label class="col-sm-2 col-form-label" for="password">Password<span style="color:#ab0707"> * </span> </label>
      <div class="col-sm-10">
        <input class="form-control" type="password" name="password" placeholder="password" minlength="4" maxlength="10"  required /> 
      </div>
    </div>

    <div class="mt-4 form-group row">
      <div class="form-check">
        <input class="ml-1 form-check-input" style="height:18px; width: 18px;" type="checkbox" name="production">
        <label class="ml-5 form-check-label" for="production">Check if you're Central Kitchen!</label>
      </div>
    </div>
    
    
    <div class="mt-4 form-group">
      <button class="btn btn-lg btn-primary mb-2" style="width: 100%;" type="submit" value="submit">SignUp</button>
    </div>

  </form>
</div>

<%- include("../partials/footer") -%>