<%- include("../partials/header"); -%>
<div class="container">
    <h2 class="mt-4 mb-4" style="text-align:center;">Production Entry</h2>
    <form action="/form/production" method="POST">
         <div class="fieldS">
            <div class="field">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                    <label for="dish">Dish name</label>
                    <input type="text" class="form-control" name="dish" placeholder="Dish Name" required>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="qty">Quantity</label>
                    <input type="text" class="form-control" name="qty" placeholder="Quantity" required>
                    </div>
                </div>
            </div>
        </div>
    
            <button class="btn btn-primary" type="submit">SUBMIT</button>
        
    </form>
    
    <form  action="" id="makeNew">
        <div class="form-row">
            <button class="mt-2 btn btn-success" id="addfield">Add More Dishes</button>
        </div>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/addField.js"></script>
<%- include("../partials/footer"); -%>